<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TODO Creation Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/create_update_todo.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/todo/list}" method="GET">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To TODO List Page</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<form autocomplete="off" action="#" th:action="@{/todo/create}"
					th:object="${todo}" method="POST" class="form-horizontal"
					role="form">
					<h2>TODO Creation Form</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
								class="validation-message"></label>
						<input type="text" th:field="*{title}" placeholder="Title"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
								class="validation-message"></label>
							<textarea type="text" th:field="*{description}"
								placeholder="Description" class="form-control" >
								</textarea> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Create TODO</button>
						</div>
					</div>
					
					<span class="success-message" th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>